@{
    // Accessing session value
    string username = Context.Session.GetString("username");
    string role = Context.Session.GetString("role");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Meal Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.styles.css" asp-append-version="true" />
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Include Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <a class="navbar-brand" href="/Schedule"><img src="https://i.pinimg.com/564x/4e/24/f5/4e24f523182e09376bfe8424d556610a.jpg" height="50px" width="50px" /> Meal Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-evenly">
                    <ul class="navbar-nav flex-grow-1">
                        @if (role != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Schedule">Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Recipe">Recipe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Ingredient">Ingredient</a>
                            </li>
                        }

                        @if (role == "admin")
                        {
                            <li>
                                <a class="nav-link text-dark" href="/Statistic">Statistic</a>
                            </li>
                        }
                       
                    </ul>
                    <div class="nav-item">
                        @if (username != null)
                        {
                            <img width="20" height="20" src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg" alt="Profile Picture">
                            @username <a href="/profile">Profile</a> <a href="/logout">Logout</a>
                        }
                       
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center">
            &copy; 2024 - MealManagement - Gruxeon - Nocolor06 - <a href="https://github.com/Gruxeon2507/PRN221-MealManagement"> GitHub</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>